body {
    display: flex;
    justify-content: center;
    align-items: center;
 align-content: flex-start;
}

.acc {
     display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    width: 800px;
    height: 600px;
}

.dd2 {
    background-color: red;
    width: 200px;
    height: 200px;
  
}
